# Loan Prediction

## 1. Introduction

### Problem Definition

We are in front a Binary Classification problem, as the aim of this notebook is to predict which of the costumers will have their loan approved.

### The Data

This dataset was obtained from Kaggle and is named Loan Prediction Dataset. It contains a set of 613 records under 13 attributes:

* **Loan_ID:** A uniques loan ID
* **Gender:** Male/Female
* **Married:** Married(Yes)/Not married(No)  
* **Dependents:** Number of persons depending on the client.
* **Education:** Application Education (Graduate / Undergraduate)
* **Self_Employed:** Self employed (Yes/No)
* **ApplicantIncome:** Applicant income
* **CoapplicantIncome:** Coapplicant Income
* **LoanAmount:** Loan amount in thousands
* **Loan_Amount_Term:** Term of lean in months
* **Credit_History:** Credit history meets guidelines
* **Property_Area:** Urban/Semi and Rural
* **Loan_Status:** Loan approved (Y,N)

As we said, the main objective of this probles is to use machine learning techniques to predict loan payments, therefore, our target value is Loan_Status.

### Preparing the tools

In [5]:
#basic libraries
import sys
import numpy as np
import pandas as pd
import os
import warnings

#seed the project
np.random.seed(64)

#ploting libraries
%matplotlib inline
import matplotlib.pyplot as plt
import missingno
import seaborn as sns
plt.style.use('seaborn-whitegrid')
sns.set_palette("Set2")

#relevant ML libraries
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

#ML models

#default theme
sns.set(context='notebook', style='darkgrid', palette='deep', font='sans-serif', font_scale=1, color_codes=False, rc=None)

#warning hadle
warnings.filterwarnings("ignore")

print("Set up completed")

Set up completed

### Load the Data

In [6]:
# Import train and test data
train = pd.read_csv('data/loan_train.csv')
test = pd.read_csv('data/loan_test.csv')

# Print the first rows of the training data
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y